<h2>Contact Us</h2>

<form action="/process-message" method="POST">
  <label>
    Name:
    <input type="text" name="sender" placeholder="Barnabus Bixley" />
  </label>
  <br />

  <label>
    Email:
    <input type="email" name="senderEmail" placeholder="barnabus@example.com" />
  </label>
  <br />

  <label>
    Message:
    <textarea name="message" placeholder="Blah blah blah..."></textarea>
  </label>
  <br />

  <button>Send Message</button>
</form>
